# Android Studio
*.iml
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# Gradle
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS
.DS_Store

# Build outputs
/build
/captures
.externalNativeBuild
.cxx

# Others
local.properties
